/* FILEPATH: /Users/ejerram/VSCode/ejerram1.github.io/styles.css */

/* Reset default styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Set a default font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Add some padding and a border to a container */
.container {
  padding: 20px;
  border: 1px solid #ccc;
}

/* Style headings */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 10px;
  text-align: center;
}

/* Style paragraphs */
p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

/* Style basic buttons */
button {
  padding: 10px 20px;
  border: 0;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.nav {
  display: block;
  background-color: #615143;
  text-align: center;
  padding: 10px;
}